<p style="text-align: left;"><span style="color: #000080;">Welcome to Corduroy - Groomers</span></p>
<table style="border-collapse: collapse; width: 100%; height: 72px;" border="1">
<tbody>
<tr style="height: 18px;">
<td style="width: 9.12765%; height: 18px;">Time</td>
<td style="width: 17.3002%; height: 18px;">Trail Name</td>
<td style="width: 16.6111%; height: 18px;">Report</td>
<td style="width: 16.6111%; height: 18px;">Submit</td>
</tr>
<tr style="height: 18px;">
<td style="width: 9.12765%; height: 36px;">&lt;auto&gt;</td>
<td style="width: 17.3002%; height: 36px;"><label for="trailname"></label><select id="trailname" name="trailname">
<option value="Shrine Pass">Shrine Pass</option>
<option value="Owl Creek Road">Owl Creek Road</option>
</select></td>
<td style="width: 16.6111%; height: 36px;"><input id="newreport" name="newewport" type="text" /></td>
<td style="width: 16.6111%; height: 36px;"><input type="submit" /></td>
</tr>
<tr style="height: 18px;">
<td style="width: 9.12765%; height: 18px;">&nbsp;</td>
<td style="width: 17.3002%; height: 18px;">&nbsp;</td>
<td style="width: 16.6111%; height: 18px;">&nbsp;</td>
<td style="width: 16.6111%; height: 18px;">&nbsp;</td>
</tr>
</tbody>
</table>
<p><a href="http://localhost:8000/reportsadmin.html">Groomer Login</a> &nbsp;<a href="http://localhost:8000/groomers.html">Reports Admin</a> &nbsp;<a href="http://localhost:8000/trailsadmin.html">Trails Admin</a> &nbsp;</p>