<html>
    <p> Welcome to Corduroy - Groomers
    <form method="POST" action="http://localhost:8000/reports/">
        {% csrf_token %}
        

        <table style="border-collapse: collapse; width: 100%; height: 72px;" border="1">
            <tr>
                <td>Date</td><td>Trail Name</td><td>Report</td><td>Submit</td>
            </tr> 
            <tr>
                <td>{% now "Y-m-d" %}</td>
                <td><input type="text" name="trailName" id="trailName"></td>
                <td><input type="text" rows="3" name="report" id="report"></td>
                <td><button type="submit">Submit</button></td>
            </tr>

        <!--
        This is not secure.  When I enable auth I will change to.
        <input type="hidden" name="groomer" id="groomer" value={{ user.username }}>
        Then use Django security so that a member of the groomer group can not update the groomer attribute
        The approval status won't need to be set since it has a default and a groomer does not have permissions to it
        -->
        <input type="hidden" name="groomer" id="groomer" value="Mr Plow">
        <input type="hidden" name="approvalStatus" id="approvalStatus">
        <input type="hidden" name="date" id="date" value="{% now "Y-m-d" %}">
        </table>
      

        

        
    </form>
<p><br><a href="http://localhost:8000">Home</a>&nbsp<a href="http://localhost:8000/groomers.html">Groomer Admin</a> &nbsp;<a href="http://localhost:8000/reportsadmin/">Reports Admin</a> &nbsp;<a href="http://localhost:8000/trailsadmin.html">Trails Admin</a> &nbsp;</p>