<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Approved Reports</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'corduroyserver/styles.css' %}">
</head>
<body>
<h1>Welcome to Corduroy</h1>
<h3>Home to Colorado Snowmobile Trail Grooming Reports</h3>
    <div class="container">
        <h1>Current Reports</h1>
        <table>
            <thead>
                <tr>
                    <th>Trail Name</th>
                    <th>Location</th>
                    <th>Groomer</th>
                    <th>Date</th>
                    <th>Report</th>
                </tr>
            </thead>
            <tbody>
                {% for report in approved_reports %}
                    <tr>
                        <td>{{ report.trail.trailName }}</td>
                        <td>{{ report.trail.location }}</td>
                        <td>{{ report.groomer }}</td>
                        <td>{{ report.date }}</td>
                        <td>{{ report.report }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5">No approved reports available at the moment.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <br>
    <p>Admin Functions:</p>
    <a href="{% url 'groomer_report_page' %}">Enter New Trail Report (Groomers)</a> &nbsp <a href="{% url 'admin_trails' %}">Manage Trails (Admins)</a> &nbsp <a href="{% url 'admin_approval' %}">Approve Pending Reports (Admins)</a>
</body>
</html>
