<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Corduroy/title</title>
        {% load static %}    
        <link rel="stylesheet" href="{% static 'corduroyserver/styles.css' %}">
    </head>
 <body>
<p> Welcome to Corduroy - Reports Admin

    <table style="border-collapse: collapse; width: 100%; height: 72px;" border="1">

        <tr>
            <td><strong> ID</strong>
            <td><strong>Approved</strong></td>
            <td><strong>Date</strong</td>
            <td><strong>Groomer</strong></td>
            <td><b><strong>Report</strong></td>
        </tr>      
    {% for report in reports %}
    
        <tr>
            <form method="POST" action="http://localhost:8000/reportsadmin/{{ report.id }}/">
                <td>{{ report.id }} </td>
                <td><input type="checkbox" name="approvalStatus" id="approvalStat"value="{{ report.report }}" {% if report.approvalStatus == 0 %} checked {% endif %}>
                <td>{{ report.date }} </td>
                <td>{{ report.groomer }}</td>
                <td><input type="text" name="report" id="report"value="{{ report.report }}"> </td> 
                </td>
                <td><button type="submit">Submit</button></td>
            </form>
            </tr>
    {% endfor %}
    
    </table>
<p><a href="http://localhost:8000">Home</a>&nbsp<a href="http://localhost:8000/groomers.html">Groomer Admin</a> &nbsp;<a href="http://localhost:8000/reportsadmin/">Reports Admin</a> &nbsp;<a href="http://localhost:8000/trailsadmin.html">Trails Admin</a> &nbsp;</p>