<p style="text-align: left;"><span style="color: #000080;">Welcome to Corduroy - Reports Admin</span></p>
<table style="border-collapse: collapse; width: 100%; height: 54px;" border="1">
<tbody>
<tr style="height: 18px;">
<td style="width: 9.12765%;">Approved</td>
<td style="width: 9.12765%; height: 18px;">Date</td>
<td style="width: 17.3002%; height: 18px;">Trail Name</td>
<td style="width: 31.2222%; height: 18px;">Report</td>
<td style="width: 16.6111%;">Modify</td>
<td style="width: 16.6111%;">Submit</td>
</tr>
<tr style="height: 18px;">
<td style="width: 9.12765%;"><input id="approved" name="approved" type="checkbox" value="TRUE" /></td>
<td style="width: 9.12765%; height: 18px;">10/26/2024 03:30:00</td>
<td style="width: 17.3002%; height: 18px;">Sample Trail</td>
<td style="width: 31.2222%; height: 18px;">Good</td>
<td style="width: 16.6111%;"><input id="newreport" name="newewport" type="text" /></td>
<td style="width: 16.6111%;"><input type="submit"></td>
</tr>
<tr style="height: 18px;">
<td style="width: 9.12765%;">&nbsp;</td>
<td style="width: 9.12765%; height: 18px;">&nbsp;</td>
<td style="width: 17.3002%; height: 18px;">&nbsp;</td>
<td style="width: 31.2222%; height: 18px;">&nbsp;</td>
<td style="width: 16.6111%;">&nbsp;</td>
<td style="width: 16.6111%;">&nbsp;</td>
</tr>
</tbody>
</table>
<p><a href="http://localhost:8000/groomers.html">Groomer Login</a> &nbsp;<a href="http://localhost:8000/reportsadmin.html">Reports Admin</a> &nbsp;<a href="http://localhost:8000/trailsadmin.html">Trails Admin</a> &nbsp;</p>