<html>
    <p> Welcome to Corduroy - Trails Admin
stuff
    <form method="POST" action="http://localhost:8000/trails/">
        {% csrf_token %}        
    <table style="border-collapse: collapse; width: 100%; height: 72px;" border="1">
        <tr>
            <td>Location</td>
            <td>Rating</td>
            <td>Trail Name</td>
            <td>Submit</td>

        </tr>
        <tr>
            <td><select id="location" name="location">
                <option value="Front Range">Front Range</option>
                <option value="San Juans">San Juans</option>
            </select></td>

        
        <td><select id="rating" name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            </select>
        </td>
        <td>Name: <input type="text" name="trailName" id="trailName"></td>
    <td><button type="submit">Submit</button></td>
    </tr>
        
    </form>
</table>
    <p><a href="http://localhost:8000">Home</a>&nbsp<a href="http://localhost:8000/groomers.html">Groomer Admin</a> &nbsp;<a href="http://localhost:8000/reportsadmin/">Reports Admin</a> &nbsp;<a href="http://localhost:8000/trailsadmin.html">Trails Admin</a> &nbsp;</p>
