<html><p style="text-align: left;"><span style="color: #000080;">Welcome to Corduroy - You home for Colorado snowmobile trail grooming reports</span></p>
<table style="border-collapse: collapse; width: 100%;" border="1">
<tbody>
<tr>
<td style="width: 18.2553%;">Date</td>
<td style="width: 48.4113%;">Trail Name</td>
<td style="width: 33.3333%;">Report</td>
</tr>
<tr>
<td style="width: 18.2553%;">10/26/2024 03:30:00</td>
<td style="width: 48.4113%;">Sample Trail</td>
<td style="width: 33.3333%;">Good</td>
</tr>
<tr>
<td style="width: 18.2553%;">&nbsp;</td>
<td style="width: 48.4113%;">&nbsp;</td>
<td style="width: 33.3333%;">&nbsp;</td>
</tr>
</tbody>
</table>
<p><a href="http://localhost:8000/reportsadmin.html">Groomer Login</a> &nbsp;<a href="http://localhost:8000/groomers.html">Reports Admin</a> &nbsp;<a href="http://localhost:8000/trailsadmin.html">Trails Admin</a> &nbsp;</p>